{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>IsBest</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.date ? video.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.isBest ? 'Yes' : 'No' }}</td>
                <td>{{ video.link }}</td>
                <td>
                    <a href="{{ path('app_admin_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('app_admin_video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_video_new') }}">Create new</a>
{% endblock %}
