{% extends 'base-admin.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ event.place }}</td>
            </tr>
            <tr>
                <th>OrganizedBy</th>
                <td>{{ event.organizedBy }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_event_index') }}">back to list</a>

    <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('admin_event/_delete_form.html.twig') }}
{% endblock %}
