{% extends 'base-admin.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publiée par</th>
                <th>IsBest</th>
                {# <th>date</th> #}
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                {# <td>{{ article.imageName }}</td> #}
                <td>{{ article.publishedBy }}</td>
                <td>{{ article.isBest ? 'Yes' : 'No' }}</td>
                {# <td>{{ article.datetime ? article.datetime|date('d-m-Y H:i:s') : '' }}</td> #}
                <td><img src="{{ asset('images/articles/' ~ article.imageName)}}" alt="" class="img-list-admin" style="max-width:150px; heigth:auto;"></td>
                {# <td>{{ article.description }}</td> #}
                <td>
                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_new') }}" class="btn btn-danger">Crée article</a>
{% endblock %}
