{% extends 'base.html.twig' %}

{% block title %}Header{% endblock %}

{% block body %}
    <h1>Header</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ header.id }}</td>
            </tr>
            <tr>
                <th>IsBest</th>
                <td>{{ header.isBest ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ header.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ header.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ header.updatedAt ? header.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ header.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ header.date ? header.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_header_index') }}">back to list</a>

    <a href="{{ path('app_admin_header_edit', {'id': header.id}) }}">edit</a>

    {{ include('admin_header/_delete_form.html.twig') }}
{% endblock %}
