{% extends 'base-admin.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}

    <h1>Liste de missions </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>IsBest</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                {# <td>{{ mission.description }}</td> #}
                <td><img src="{{ asset('images/missions/' ~ mission.imageName)}}" alt="" class="img-list-admin" height="150px"></td>
                {# <td>{{ mission.imageSize }}</td> #}
                <td>{{ mission.updatedAt ? mission.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.isBest ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_mission_show', {'id': mission.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_admin_mission_edit', {'id': mission.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_mission_new') }}" class="btn btn-danger my-3">Nouvelle Mission</a>
{% endblock %}


